.button {
    background-color: $white;
    text-align: center;
    font-weight: $bold;
    display: inline;
    padding: 1rem 5rem 1rem 5rem;
    border-radius:35px;
    border-width: 1;
    border-width: 1px;
    border-style: solid;
}