h1 {
    font-family: $raleway;
    font-weight: $regular;
    font-size: $medium;
    }
    
p {
     font-family: $raleway;
     font-weight: $regular;
     font-size: $medium;
     text-align: left;
     color: $granite-gray;
    }

h2 {
     font-weight: $bold;
     font-family: $raleway;
     font-size: $medium;
     color: $granite-gray;
     }

h3 {
     font-weight: $bold;
     font-family: $raleway;
     font-size: $medium;
     color: $white;
     text-align: center;
     }